<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Z2A</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/solar/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/footer.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Movies" asp-action="Index">Z2A</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Movies" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Movies" asp-action="AboutUs">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Movies" asp-action="Privacy">Privacy Policy</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            if (UserManager.GetUserAsync(User).Result.Email == "admin@gmail.com")
                            {
                                <li class="nav-item">
                                    <a class="nav-link active" asp-controller="UserRoles" asp-action="Index">Manage User Roles</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" asp-controller="RoleManager" asp-action="Index">Manage Roles</a>
                                </li>
                            }



                        }
                        <partial name="_LoginPartial" />

                        @if (SignInManager.IsSignedIn(User))
                        {
                            if (UserManager.GetUserAsync(User).Result.Email != "admin@gmail.com")
                            {

                                <li class="nav-item">
                                    <a class="nav-link active" asp-controller="OrdersCarts" asp-action="PassData"><img src="~/images/cart.ico" /></a>
                                </li>
                            }
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <!-- Remove the container if you want to extend the Footer to full width. -->
    </footer>
        <div class="container my-5">
            <!-- Footer -->
            <footer class="text-center text-lg-start text-white">
                <!-- Grid container -->
                <div class="container p-4 pb-0">
                    <!-- Section: Links -->
                    <section class="">
                        <!--Grid row-->
                        <div class="row">
                            <!-- Grid column -->
                            <div class="col-md-6 col-lg-3 col-xl-3 mx-auto mt-3">
                                <h6 class="text-uppercase mb-4 font-weight-bold">
                                    Z2A Cinemas
                                </h6>
                                <p>
                                    Book Your Favorite Movies And Enjoy !
                                </p>
                            </div>
                            <!-- Grid column -->

                            <hr class="w-100 clearfix d-md-none" />

                            <!-- Grid column -->
                            <div class="col-md-6 col-lg-3 col-xl-3 mx-auto mt-3">
                                <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                                <p><i class="fas fa-home mr-3"></i> Swiefieh, Amman, Jordan</p>
                                <p><i class="fas fa-envelope mr-3"></i> Z2A@gmail.com</p>
                                <p><i class="fas fa-phone mr-3"></i> +962 6 592 0000</p>
                                <p><i class="fas fa-print mr-3"></i> +962 6 592 1000</p>
                            </div>
                            <!-- Grid column -->
                        </div>
                        <!--Grid row-->
                    </section>
                    <!-- Section: Links -->

                    <hr class="my-3">

                    <!-- Section: Copyright -->
                    <section class="">
                        <div class="row">
                            <!-- Grid column -->
                            <div class="col-md-7 col-lg-3 col-xl-3 mx-auto mt-3">
                                <!-- Copyright -->
                                <div class="p-3">
                                    &copy; 2022 - Z2A Cinemas - <a asp-area="" asp-controller="Movies" asp-action="Privacy">Privacy</a>
                                </div>
                                <!-- Copyright -->
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-md-5 col-lg-3 col-xl-3 mx-auto mt-3">
                                <!-- Facebook -->
                                <a class="btn btn-outline-light btn-floating m-1"
                                   class="text-white"
                                   role="button">
                                    <i class="fab fa-facebook-f"></i>
                                </a>

                                <!-- Twitter -->
                                <a class="btn btn-outline-light btn-floating m-1"
                                   class="text-white"
                                   role="button">
                                    <i class="fab fa-twitter"></i>
                                </a>

                                <!-- Google -->
                                <a class="btn btn-outline-light btn-floating m-1"
                                   class="text-white"
                                   role="button">
                                    <i class="fab fa-google"></i>
                                </a>

                                <!-- Instagram -->
                                <a class="btn btn-outline-light btn-floating m-1"
                                   class="text-white"
                                   role="button">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                            <!-- Grid column -->
                        </div>
                    </section>
                    <!-- Section: Copyright -->
                </div>
                <!-- Grid container -->
            </footer>
            <!-- Footer -->
        </div>
        <!-- End of .container -->

    


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
