@model Cinema_Website.Models.Movie

@{
    ViewData["Title"] = "AboutUs";
}

<head>
    <link rel="stylesheet" href="~/css/StyleSheet1.css" />
</head>

<div class="container">
    <h1 class="mt-4 mb-3"> About
        <small>Subheading</small>
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item active"> About</li>
    </ol>
    <div class="row">
        <div class="col-lg-6">
            <img src="~/images/Avengers.jpg" width="100%" height="100%" />
        </div>
        <div class="col-lg-6">
            <h2>AboutModern Business</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?</p>

        </div>

    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <h3>About Us</h3><br>
        <article>
            <p><strong>TAJ Cinemas sets new benchmarks for entertainment in Jordan</strong></p>
            <p>TAJ lifestyle center announced that TAJ Cinemas, the largest cinema complex in Jordan, has officially opened its doors to the public setting a new benchmark for entertainment in Jordan.</p>
            <p>Located on Terrace 2, TAJ Cinemas is spread over 7000 m² and seats a total of 1700 people through its 16 theatre multiplex that includes 12 regular theatres and 4 VIP halls. TAJ Cinemas is the first to introduce the latest in high-tech services to movie-goers such as an online ticketing function to avoid queues, e-kiosks to purchase movie tickets with credit or debit cards, and a mobile application for purchasing movie tickets and to gain access to everything happening at the cinema.</p>
            <p>Ibrahim Taher, CEO of TAJ Cinemas, stated, “We are very proud to see TAJ Cinemas successfully open to the Jordanian public. We have worked hard to ensure that we launch a product that will set a new precedent for entertainment in Jordan. We look forward to becoming the number one movie destination in Jordan, and we believe that through our exclusive products and unique cinema experience, we will be able to achieve that goal.”</p>
            <p>With the launch of TAJ Cinemas, the largest cinema complex to ever open in Jordan, we will be able to offer our customers a truly unparalleled lifestyle that will take their movie experience to the next level.</p>
            <p>TAJ Cinemas is also introducing the very first VIP theatres, better known as TAJ Class, that have a capacity of 113 VIP seats with fully reclining leather armchairs and butler service. All four VIP theatres are equipped with the latest in cutting-edge technology such as 4K projectors capable of a dazzling 8 million megapixel and the latest cinema sound conception , which is also a first in Jordan.</p>
            <p>TAJ Cinemas is the result of a partnership between three leaders in the entertainment industry in the Middle East which are Al Taher for Cinemas, Eagle Films and Selim Ramia &amp; Co.</p>
        </article>
    </div>
</div>


<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
            <img class="card-img-top" src="~/images/fcfe4891-3154-4090-8bea-7899bedf78e8_userprofile.png" alt="Jane" style="width:100%">
            <div class="card-body">
                <h4 class="card-title"> Ammar AQ</h4>
                <h6 class="card-subtitle">Position</h6>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            </div>
            <div class="card-footer">
                <a>ammaraq96_aq@yahoo.com</a>
            </div>
        </div>
    </div>

    <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
            <img class="card-img-top" src="~/images/fcfe4891-3154-4090-8bea-7899bedf78e8_userprofile.png" alt="Jane" style="width:100%">
            <div class="card-body">
                <h4 class="card-title"> Hadi Abdelhadi</h4>
                <h6 class="card-subtitle">Position</h6>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            </div>
            <div class="card-footer">
                <a>Hadi200_ah@yahoo.com</a>
            </div>
        </div>
    </div>

    <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
            <img class="card-img-top" src="~/images/fcfe4891-3154-4090-8bea-7899bedf78e8_userprofile.png" alt="Jane" style="width:100%">
            <div class="card-body">
                <h4 class="card-title"> Zaid Abdelhadi</h4>
                <h6 class="card-subtitle">Position</h6>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            </div>
            <div class="card-footer">
                <p>Zaid200_ah@yahoo.com</p>
            </div>
        </div>
    </div>

</div>