@model Cinema_Website.Models.Movie

@{
    ViewData["Title"] = "AboutUs";
}

<head>
   
</head>

<div class="container">
    <h1 class="mt-4 mb-3">About Us</h1>
    <ol class="breadcrumb"></ol>
    <div class="row">
        <div class="col-lg-6">
            <img src="~/images/CinemaSite.jpg" width="100%" height="100%" />
        </div>
        <div class="col-lg-6">
            <p>
                At “Z2A cinemas”, we love cinemas. Nestled in the heart of their neighborhoods, each of our cinemas are distinct, full of personality and run by welcoming and attentive staff. We don't just screen excellent films. We provide places to eat, meet and relax, and host a busy calendar of events for everyone to explore.
            </p>
        </div>

    </div>
</div>

<br />
<div class="row">
    <div class="col-sm-10">
        <article>
            <p> If you love opera or theatre, we screen it live and direct from stages around the world. If you're all about superhero films, come to one of our state-of-the-art screens and get yourself a large popcorn.  </p>
            <p> Our impressive cafes, bars and restaurants cater for everyone. From burgers to superfood salads and coffees to cocktails. </p>
            <p> We screen 35mm and 70mm special presentations at select “Z2A Cinemas”, welcome independent film collectives and are proud hosts of some of the most visionary film festivals around. Our team of passionate programmers carefully curate a broad range of films, from quality mainstream and family movies to Indies, documentaries and foreign language releases. </p>
            <p> We believe cinema can change lives and broaden perspectives. Catering to a diverse and inclusive audience is part of our DNA. We know that our communities make us and we champion films made for all ages, backgrounds and walks of life. </p>
            <p> We take our planet and the climate crisis seriously. In Amman, we play our own small part in the safekeeping of our planet and look to set an example for how cinemas can best reduce their energy consumption and waste.  </p>
        </article>
    </div>
    <div class="col-sm-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <span class="circle">
                        <i class='fas fa-map-marker-alt' style='font-size:48px;color:grey'></i>
                    </span>
                    <h4 class="no-underline">Address</h4>
                    <p>Swiefieh, Amman, Jordan</p>



                    <div>
                        <span class="circle">
                            <i class="fa fa-envelope" style="font-size:48px;color:grey"></i>
                        </span>
                        <h4 class="no-underline">Emails</h4>
                        <p>
                            <a href="mailto:marketing@tajcinemas.com">Z2A@gmail.com</a>
                        </p>
                    </div>

                    <div>
                        <span class="circle">
                            <i class="fa fa-phone" style="font-size:48px;color:grey"></i>
                        </span>
                        <h4 class="no-underline">Telephone</h4>
                        <a href="tel:+96265927555">+962 6 592 0000</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<hr />
<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
            <img class="card-img-top" src="~/images/fcfe4891-3154-4090-8bea-7899bedf78e8_userprofile.png" alt="Jane" style="width:100%">
            <div class="card-body">
                <h4 class="card-title"> Ammar AQ</h4>
                <h6 class="card-subtitle">Position</h6>
                <p>Manager</p>
            </div>
            <div class="card-footer">
                <a>ammaraq96_aq@yahoo.com</a>
            </div>
        </div>
    </div>

    <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
            <img class="card-img-top" src="~/images/fcfe4891-3154-4090-8bea-7899bedf78e8_userprofile.png" alt="Jane" style="width:100%">
            <div class="card-body">
                <h4 class="card-title"> Hadi Abdelhadi</h4>
                <h6 class="card-subtitle">Position</h6>
                <p>Manager</p>
            </div>
            <div class="card-footer">
                <a>Hadi200_ah@yahoo.com</a>
            </div>
        </div>
    </div>

    <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
            <img class="card-img-top" src="~/images/fcfe4891-3154-4090-8bea-7899bedf78e8_userprofile.png" alt="Jane" style="width:100%">
            <div class="card-body">
                <h4 class="card-title"> Zaid Abdelhadi</h4>
                <h6 class="card-subtitle">Position</h6>
                <p>Manager</p>
            </div>
            <div class="card-footer">
                <p>Zaid200_ah@yahoo.com</p>
            </div>
        </div>
    </div>

</div>