@model Cinema_Website.Models.Movie

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MovieName" class="control-label"></label>
                <input asp-for="MovieName" class="form-control" />
                <span asp-validation-for="MovieName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieDescription" class="control-label"></label>
                <input asp-for="MovieDescription" class="form-control" />
                <span asp-validation-for="MovieDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieImage" class="control-label"></label>
                <input asp-for="MovieImage" class="form-control" type="file" />
                <span asp-validation-for="MovieImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieTrailer" class="control-label"></label>
                <input asp-for="MovieTrailer" class="form-control" />
                <span asp-validation-for="MovieTrailer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Generes" class="control-label"></label>
                <input asp-for="Generes" class="form-control" />
                <span asp-validation-for="Generes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RunTime" class="control-label"></label>
                <input asp-for="RunTime" class="form-control" />
                <span asp-validation-for="RunTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieRating" class="control-label"></label>
                <input asp-for="MovieRating" class="form-control" />
                <span asp-validation-for="MovieRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MMPARating" class="control-label"></label>
                <select asp-for="MMPARating" class="form-control" asp-items="@Html.GetEnumSelectList<Cinema_Website.Models.Movie.MMPARatings>()"></select>
                <span asp-validation-for="MMPARating" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input type="date" asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Movies" asp-action="Index">Back to List</a>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
