@model Cinema_Website.Models.Movie

@{
    ViewData["Title"] = "EditMovieImage";
}

<h1>EditMovieImage</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditMovieImage" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MovieId" />
            <div class="form-group" hidden>
                <label asp-for="MovieName" class="control-label"></label>
                <input asp-for="MovieName" class="form-control" />
                <span asp-validation-for="MovieName" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="MovieDescription" class="control-label"></label>
                <input asp-for="MovieDescription" class="form-control" />
                <span asp-validation-for="MovieDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieImage" class="control-label input-group-btn"></label>
                <input asp-for="MovieImage" class="form-control btn btn-warning"  type="file" />
                <span asp-validation-for="MovieImage" class="text-danger"></span>
            </div>


            

            

            <h5><span class="label label-warning">@ViewBag.Message</span></h5>



            <div class="form-group" hidden>
                <label asp-for="MovieTrailer" class="control-label"></label>
                <input asp-for="MovieTrailer" class="form-control" />
                <span asp-validation-for="MovieTrailer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-warning" asp-route-id="@Model.MovieId" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
