.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid var(--oxford-blue-50);
    padding-bottom: 0;
}

.footer-brand {
    max-width: initial;
    margin-top: 10px;
}

.slogan {
    font-size: var(--fs-sm);
    line-height: 20px;
}
.social-link {
    display: inline-block;
}
    .social-link{
        font-size: 25px;
        margin-right: 20px;
    }
/**
   * FOOTER SECTION RESPONSIVE
   */

.footer-content {
    flex-direction: column;
}
.footer-brand {
    margin-right: 0;
}
@media (min-width: 992px) {
    .navbar-nav.ms-auto {
        position: absolute;
        left: 1213px;
    }
}