
/*About us Page*/
*, *:before, *:after {
    box-sizing: inherit;
}


.row {
    flex-wrap: inherit;
}


.container {
    padding: 24px 16px;
}


.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
    }




/*About Page*/
/*.map-responsive {
    overflow: hidden;
    position: relative;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    }*/



    /*Details Page*/
.table.tbl-Cus.table-hover {
    position: absolute;
    left: -392px;
    top: 379px;
    width: 92%;
}

dl.row {
    flex-wrap: wrap;
}


.img {
    width: 360px;
    border-style: groove;
    }