ul.navbar-nav.me-auto {
    line-height: 2.5;
}

button.nav-link.btn.btn-link.active {
    line-height: 2.7;
}
ul.navbar-nav.me-auto {
    line-height: 2.7;
    position: relative;
    position: relative;
}