@model Cinema_Website.Models.Hall

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hall</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HallNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HallNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HadllId" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back</a>
</div>


